/* Allgemein */
	body{
		font-size: 23px;
	}
	
	h3{
		color: grey;
	}
	
	.container{
		margin: 10px auto 25px auto;
		padding: 10px;
		border-radius: 6px;
		text-align: center;
	}
	
	input{
		text-align: center;
	}
	
	#start{
		background-image: url("../images/watch2.jpg");
		background-size: 100%;
	    background-repeat: no-repeat;
	}

	.inpframe, .playerCard{
		text-align: center;
		border-radius: 4px;
		padding: 8px;
		margin: 8px
	}

/* Überschrift */
	.head{
		background-color: rgba(255,255,255, 0.8);
	}

/* Spieleranzahlauswahl */
	.playerCard{
		display: inline-block;
		width: 25%;
		min-width: 180px;
		background-color: rgba(255,255,255, 0.8);
	}
	
	.radioLabel{
		display: block;
	}
	
	input[type="radio"]{
		display: none;
	}
	
	input[type="radio"]:checked+label{
		color: red;
	}
	
	label{
		height: 25px;
		transition: 0.15s;
	}
	
	label:hover{
		font-size: 1.15em;
		transition: 0.15s;
	}

/* Startbutton */
	.input{
		display: block;
		border: none;
		border-radius: 4px;
		box-shadow: 1px 1px 2px 0 rgb(0,0,0);
		margin: 2px auto 20px auto;
	}
	
	#startbtn{
		padding: 10px 35px;
		font-size: 1.3em;
		background-color: #4F84C4;
		color: black;
		font-weight: bold;
		-webkit-transition: 0.2s; /* Safari */
	    transition: 0.2s;
	}
	
	#startbtn:hover{
		box-shadow: 2px 2px 6px 1px rgb(50,50,50);
		color: white;
		-webkit-transition: 0.2s; /* Safari */
	    transition: 0.2s;
	}
