/* Allgemeines und Sostiges*/
	body{
		background-image: url("../images/watch2.jpg");
		background-size: 100%;
	    background-repeat: no-repeat;
		background-color: #F9FDFF;
	}
	
	button{
		border: none;
		border-radius: 3px;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
		padding: 4px 7px;
		margin: 3px;
		background-color: rgba(79, 132, 196, 0.9);
		color: white;
	}
	
	button:hover{
		box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
		background-color: rgba(79, 132, 196, 1);
	}
	
	.addBtn, .card .glyphicon, .ekVal, .vkVal, .numProduction, .verkauf, .productionLimit{
		float: right;
	}

	.glyphicon-ok{
		color: #92B558;
	}
	
	.glyphicon-plus{
		color: #599A59;
	}
	
	.glyphicon-ok{
		color: #92B558;
	}
	
	.glyphicon-remove{
		color: #dc0027;
	}
	
	.good{
		background-color: #F4F8EE;
	}
	
	.bad{
		background-color: #FCE6EA;
	}

/* Card-Divs 
 * Beinhalten den Content
 * */
	.card{
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 0px 0px 7px -3px rgba(0,0,0, 0.13);
		margin: 5px;
		border-radius: 2px;
		width: 100%;
		padding: 6px;
		min-height: 200px;
		margin-top: 20px;
	}
	
	.listhead{
		font-size: 16px;
		margin-left: 20px;
		margin-bottom: 6px;
	}

	.card ul, .card li{
		width: 95%;
	}
	
	.card ul{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.card li{
		padding-top: 7px;
		padding-bottom: 7px;
	}
	
	.card li>button{
		text-align: right;
		float: right;
	}
	
	li.selected{
		color: #4F84C4;
		font-weight: 700;
		background-color: #E5EDF6;
	}
	
	.list-group{
		margin-bottom: 12px;
	}
	
	.card h4{
		display: inline-block;
		padding-left: 10px;
	}
	
	.card p{
		padding-left: 10px;
	}
	
	.card table{
		margin-top: 15px;
	}

	a.addBtn:hover{
		box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
	}
	
	.card .addBtn{
		border: none;
		border-radius: 3px;
		box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
		padding: 3px 7px;
		text-decoration: none;
		vertical-align: middle;
		color: white;
		cursor: pointer;
	}
	
	a.addBtn{
		margin: -3px;
	}
	
	.card-aktive{
		background-color: rgba(79, 132, 196, 0.15);
		background-color: white!important;
	}
	
	/* Inaktive und gesperrte Elemente der Card-Divs */
	
	a.addBtn.notAavailable{
		box-shadow: none;
	}
	.card-inaktive, .card-inaktive li, li.notAavailable, a.addBtn.notAavailable{
		background-color: #f9f9f9;
		color: grey;
		cursor: not-allowed;
	}
	
	#overlay {
	    position: static;
	    display: block;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 2;
	}
	
	#ol-text{
		margin: 8px;
		padding: 10px 25px;
	    position: absolute;
	    background-color: rgba(0,0,0,0.05);
	    border-radius: 5px;
	    top: 50%;
	    left: 50%;
	    font-size: 40px;
	    color: #7a7a7a;
	    transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	    text-align: center;
	}

/* Navigationsleiste */
	.nav{
		background-color: #F9FDFF;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7), 0px 0px 7px -3px rgba(0,0,0, 0.13);
	}
	
	.nav li{
		font-weight: bold;
	}
	
	.dropdown-menu span{
		padding-right: 12px;
		padding-left: 6px;
	}
	
	.dropdown-menu li{
		margin: 5px;
	}
	
	.dropdown-menu{
		background-color: rgba(255,255,255, 0.9);
		width: 250px;
	}
	
	.dropdown-menu span:first-child{
		left: 0px;
	}
	
	.dropdown-menu span:last-child{
		position: absolute;
		right: 0px;
	}
	
	.nav-stacked{
		width: 140px;
		display: inline-block;
		position: fixed;
		left: 0px;
		top: 15%;
	}
	
	.cont-side-nav{
		position: fixed;
		left: 140px;
	}
	
	#player a, .player{
		background-color: #101626;
		color: white;
		text-align: center;
	}
	
	#player a{
		cursor: default;
	}
	
	#player img{
		width: 28px;
		margin-top: -6px;
		margin-bottom: -6px;
		margin-right: 5px;
	}

	#nextRound{
		color: white;
		background-color: rgba(79, 132, 196, 0.9);
	}
	
	#nextRound:hover{
		background-color: rgba(79, 132, 196, 1);
	}



/* Ökouhr */
	.umwelt{
		background-color: white;
	}
	
	.umwelt h4, .umwelt .done{
		color: #92B558;
		font-weight: 700;
	}
	
	.umwelt .done{
		background-color: #F4F8EE;
	}
	
	.umwelt .addBtn{
		background-color: #92B558;
	}

/* Luxusuhr */
	.luxus{
		background-color: white;
		/* 
		background-image: url("../images/diamond100.png");
	    background-repeat: no-repeat;
	    background-position: top right;
	    * */
	}
	
	.luxus h4, .luxus .done{
		color: #D8AE47;
		font-weight: 700;
	}
	
	.luxus .done{
		background-color: #FBF7ED;
	}
	
	.luxus  .addBtn{
		background-color: #D8AE47;
	}

/* Günstige Uhr */
	.preisbewusst{
		background-color: white;
	}

/* Produkte */
#menu1 li{
	cursor: pointer;
}

/* Marketing */
.marketing a.addBtn{
	background-color: rgba(79, 132, 196, 0.9);
}

/* Statistik */
tfoot>tr>td{
	font-weight: bold;
	font-size: 1.2em;
}

/* Kachel zur anzeige des nöächsten Spielers */
	#next{
		margin-top: 10%;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#next img, #next button, #next>h4, #next>h3{
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	
	#next button{
		margin-top: 15px;
		margin-bottom: 15px;
		padding: 10px 14px;
		font-size: 1.2em;
		font-weight: bold;
	}