h3{
	color: grey;
}

#start{
	background-image: url("images/start2.jpeg");
	background-repeat: repeat-x;
}

.container{
	width: 80%;
	margin: 10px auto 25px auto;
	background-color: rgba(255,255,255, 0.5);
	padding: 10px;
	border-radius: 6px;
	text-align: center;
}

.inpframe, .playerCard{
	text-align: center;
	border-radius: 4px;
	box-shadow: 1px 1px 3px 0 rgb(0,0,0);
	background-color: rgb(230,242,255);
	padding: 8px;
	margin: 8px
}

.playerCard{
	display: inline-block;
	width: 22%;
	height: 200px;
}

.input{
	display: block;
	border: 1px solid rgb(85,85,85);
	border-radius: 4px;
	background-color: white;
	color: rgb(85,85,85);
	box-shadow: 1px 1px 2px 0 rgb(0,0,0);
	padding: 7px 15px;
	margin: 8px auto;
}

.input:hover{
	box-shadow: 2px 2px 3px 0 rgb(0,0,0);
}

.playerBtn{
	background-color: rgb(128,191,255);
}

#startbtn{
	padding: 10px 35px;
	font-size: 1.3em;
	background-color: #79C753;
	color: black;
	fond-weight: bold;
}

input{
	text-align: center;
}

ul {
  list-style-type: none;
}

.playerOption{
	decoration: none;
}
